@media only screen and (max-width: 1000px) {
    .navbar{
        flex-wrap: wrap;
 
    }
    .navbar .nav-top{
        order: 1;
    }
    .navbar .navbar-logo{
        order: 1;
    }
    .navbar .nav_menu{
        order: 3;
        width: 90%;
    }
}
@media only screen and (max-width: 800px) {
    .navbar{
        width: 90%;
        margin: 10px 0;
        padding: 10px 0;
    }
    .navbar .nav_menu{
        padding: 10px 0;
    }
    .nav_menu ul{
        flex-wrap: wrap;
    }
    .nav_menu ul li{
        margin: 20px 0;
    }
    .header-text{
        text-align: center;
        margin-bottom: 100px;
        width: 100%;
    }
    section{
        flex-direction: column;
    }
    .img-box{
        height: 100vh;
    }
   .skills-box1 , .experince-box{
    background-color:   #fff;
    }
    .education-box , .skills-box2{
    background-color:   rgb(245, 245, 245);
    }
    .header-text h3 {
        font-size: 1.5em;
    }

    .header-text h2 , .box h2 {
        font-size: 2.5em;
        font-weight: bold;
    }
    .emailFormContainer{
        bottom: 100px;
        padding: 15px;
        height: 80vh;
        width: 70%;
    }
    .contact-box h2{
        font-size: 2em;
        width: 80%;
    }
    .list-box , .section-text , .exp-box , .study-list , .contact-box2{
        padding: 0;
        width: 90%;
    }
    .em{
        height: 12px;
        width: 40px;
    }

}
@media only screen and (max-width: 425px) {
    .navbar{
        text-align: center;
    }
    .navbar .navbar-logo{
        font-size: 2em;
    }
    .box {
        padding: 1em;
    }
    .skills-box1 , .experince-box{
    background-color:   #fff;
    }
    .education-box , .skills-box2{
    background-color:   rgb(245, 245, 245);
    }
    .header-text h2 , .box h2 {
        font-size: 2em;
        font-weight: bold;
    }
    .contact-box h2{
        font-size: 1.4em;
        width: 80%;
    }
    .header-text h3 {
        font-size: 1.4em;
    }
    .list-skills>span{
        font-size: 70%;
    }
    .list-skills{
        padding: .8em;
    }
    .list-box , .section-text , .exp-box , .study-list , .contact-box2{
        padding: 0;
        width: 100%;
    }
    .contact-box2>button{
        width: 70%;
        font-size: 0.8em;
    }
    .em{
        height: 8px;
        width: 30px;
    }
    footer a{
        order:1;
        margin-bottom: 10px;
    }
    footer p{
        order:3;
    }
    footer div{
        order: 2;
    }
    .footer-div i{
    margin: 5px;
    }
    .emailFormContainer{
        margin-top:150px ;
        height: 80vh;
        width: 90%;
    }
}