body , *{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}
a{
    text-decoration: none;
}
section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;

    width: 100%;
    position: relative;
    overflow-x: hidden;
}
.em{
    height: 5px;
    width: 50px;
    background-color: #000;
    margin: 40px 50px;
}

div.box {
    flex:1;

}
/* nav bar */


/* Header Sections */
header{
    height: 95vh;
    width: 100%;
}
#bg-video{

    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    background-position: center;
    background-size: cover;
    width: auto;
    height: auto;
    position: absolute;
    z-index: -999;

}
header .intro{
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    
}
.intro{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:  center;
    height: 100%;
}
.navbar{
    padding: 20px 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .navbar-logo{
    color: #fff;
    font-size: 2em;
    
}
.navbar .menuBtn{
    border: none;
    color: white;
    padding: 12px 16px;
    height: 8px;
    width: 200px;
    top: 50%;
    left: 50px;
    transform: translate(-50% , -50%);
    font-size: 20px;
    cursor: pointer;
}
.header-text{
    text-align: center;
    margin-bottom: 150px;
    text-shadow: 0 0 15px #000;
}
.header-text h2 {
    font-size: 4em;
    font-weight: bold;
    
    
}
.header-text h3 {
    font-size: 2.5em;
    margin: 0;
    padding: 0;
    overflow: hidden;
    animation: types 5s steps(20) infinite;
    white-space: nowrap;
}
@keyframes types {
    0%{
        width: 0;
    }
    30%{
        width: 100%;
    }
    80%{
        width: 100%;
    }
    85%{
        width: 0;
    }
    100%{
        width: 0;
    }
}

.header-text>a {
    border: 2px solid  #fff;
    border-radius: 50%;
    padding: 10px;
    color: #fff;
    display: block;
    width: 40px;
    height: 40px;
    margin: 4vh auto;
    transition: all 0.1s ease-in-out;
}
.header-text>a:hover {
    -webkit-box-shadow: 2px 12px 33px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 12px 33px -6px rgba(0,0,0,0.75);
    box-shadow: 2px 12px 33px -6px rgba(0,0,0,0.75);
}

.nav-top .nav_menu{
    /* width:100% ; */
    /* margin: 0 auto; */
}
nav{
    /* margin: 0 auto; */
    /* display: none; */
}

/* .nav_menu ul {
    margin :0;
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding: 0 20px;
    order: 2;
} */

/* .nav_menu ul li , .contact>ul li {
    box-sizing: border-box;
    color: #fff; 
    font-size:1em;
    opacity: 0.9;
    padding: 0 10px;
}
.nav_menu ul li:hover .contact ul li:hover{
    cursor: pointer;
    color: rgb(96, 87, 69);
} */


.img-box{
    background: url('images/img05.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.about-box{
    background-color:  rgb(245, 245, 245);
}

/* Skills  */
#skills-section{
    height: auto;

}
.skills-box1{
    background-color:   rgb(245, 245, 245);
    height: auto;

}
.skills-box2{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
}
.box{
    padding: 3em;
}
.section-title {
    text-align: left;
    font-size:3em;
    font-weight: bold;
    padding: 20px 0 0 50px;
}
#section-text{
    padding: 3em 1.2em 1.2em 1.2em;
    width: 70%;
    margin: 0 auto;
}
.section-text {
    font-family: unset;
    width: 70%;
    margin: 0 auto;
    padding: 1em;
    text-align: left;
    font-size:1.1em;
    height: auto;
}
.section-text>p{
    padding-top: 1em;
}
.section-text p a {
    color: #000;
    text-decoration: underline;
}
.contact p a {
    color: #fff;
    text-decoration: underline;
}
.skills-icons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.list-box {
    margin: 10% auto ;
    justify-content: space-around;
    /* width: 80%;   */
}
.list-skills{
    width: 100%;
    padding: .5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.progress{
   flex: 3;
   height: 14px;
   background: rgb(224, 224, 224);
   min-width: 150px;
}
.progress-bar{
background: #369;
height: 100%;
opacity: 0;
}
.list-skills>span{
    flex: 2;
    font-size: 100%;
    min-width :92.5px;
}

/* Education & Experince */

.study-list , .job-list{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em auto;
    transition:0.5s;
    padding: 1em;
}
.school-list h4{
    margin: 10px auto;
}
.study-list>span , .job-list>span{
    flex: 1;
    text-align: center;
}
.school-list{
    flex: 2;
}
.education-box{
    background-color:   rgb(245, 245, 245);
}
.job-list:hover {
    transition:0.5s;
    transform: scale(1.2);
    background-color:   rgb(245, 245, 245);
    border-radius:5px; 
}
.study-list:hover{
    transition:0.5s;
    transform: scale(1.2);
    background-color: #fff;
    border-radius:5px; 
}

/*  Contact Section */

.contact-mainbox{
    min-width: 100%;
    min-height: 100%;
    height: 100vh;
    background-image: url("./images/img11.jpg");
    background-size:cover; 
    background-repeat: no-repeat;
    display: flex; 
    justify-content: space-around;
    align-items: center; 
    
}
.contact-box h2{
    padding: 50px;
    font-size: 2.5em; 
} 
.contact-box2 , .contact-box h2{
    display: flex; 
    /* width: 100%; */
    flex-direction: column;
    text-align: center;
    align-items: center; 
    color:#fff;
    text-shadow: 2px 2px 15px #000;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0 auto;
}
.contact{
    width: 70%;
    line-height: 2em;
    text-align: center;
    padding: 2vh ;
    margin: 0 8vh;
    border-radius:5px; 
    font-size: 1.4em;
    text-shadow: 0 1px 0 #000;
    border:  double #fff;
    
}
.contact p{
    padding: 2em;
    font-weight: bold;
    
}
.contact ul , .nav_menu nav ul{
    justify-content: space-around;
    display: flex;
    list-style: none;
    
}
.nav_menu {
    width: 25%;
}
.contact ul li a , .nav_menu nav ul li a{
    color: #fff;
    line-height: 2em;
}
.nav_menu nav ul li a:hover{
    color: rgba(182, 176, 176, 0.987);
    text-shadow: 0 0 15px #721b05;
}
.contact ul li a:hover  {
    color: #000;
    text-shadow: 0 0 15px #fff;
}
.contact-box2>button{
    color: #fff;
    background-color:rgba(0,0,0,0.5);
    height: 50px;
    border-radius:5px; 
    font-size: 1.8em;
    margin-top: 50px; 
   
}
.contact-box2>button:hover {
    background-color: #fff;
    color: rgba(0,0,0,0.9);
}

footer{
    padding: 5vh;
    color: #fff;
    background-color: #000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;

}
.footer-logo{
    font-size: 1.5em;
    color: #fff;
}
footer p{
    text-align: center;
    margin: 20px;
}
.footer-div{
   display: flex;
  flex-direction: column;
    
}
.footer-div i{
    margin: 10px;
}

.emailFormContainer input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
.emailFormContainer label{
    color: #000;
}

.emailFormContainer input[type=submit], .emailFormContainer input[type=button]{
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    width: 80px;  
}
.emailFormContainer input[type=button] {
    background-color: #ff8080;
}
.emailFormContainer input[type=button]:hover {
        background-color: #ff9999;

}
.emailFormContainer input[type=submit]:hover {
    background-color: #45a049;
}
.emailFormContainer {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    display: none;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 200px;
    z-index: 1000;
    -webkit-box-shadow: 10px 10px 26px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 26px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 26px 0px rgba(0,0,0,0.75);
    text-align: center;
}
.showEmailForm{
    display: block
}


